@charset "UTF-8";
@import url(reset.css); 

/* 작가 리스트 */
.list_wrap {
    width: 100%;
    height: 40px;
    margin: 20px auto;
    background-color: #f4f5f9;
}

.list_wrap > .artist_list {
    width: 1024px;
    height: 40px;
    margin: 20px auto;
    background-color: #f4f5f9;
}
.list_wrap > .artist_list > ul {
    overflow: hidden;
}

.list_wrap > .artist_list > ul > li {
    float: left;
    width: 23%;
    text-align: center;
    color: #252c41;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
}

/* 콘텐츠 */
#content_wrap {
    width: 100%;
}
/* 작가소개 */
#content_wrap > .artist_introduce {
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 30px;
    overflow: hidden;
}

#content_wrap > .artist_introduce > .artist {
    text-align: center;
}

#content_wrap > .artist_introduce > .monet, .gogh, .paul, .degas {
    display: block;
}

#content_wrap > .artist_introduce > .artist > h1 {
    font-family: 'Fraunces', serif;
    font-size: 2em;
    font-weight: bolder;
    margin: 10px auto;
}

#content_wrap > .artist_introduce > .artist > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}



/* 작품 소개 */
#content_wrap > .main_content {
    width: 1024px;
    margin: 0 auto;
    overflow: hidden;
}

#content_wrap > .main_content > .object_img {
    float: left;
    width: 49%;
    margin: 20px auto;
}

#content_wrap > .main_content > .object_description {
    float: left;
    width: 49%;
    height: 500px;
    margin: 20px auto;
}

.object_description > .description {
    margin-bottom: 10px;
    overflow: hidden;
}

.object_description > .object_tit {
    width: 100%;
    padding-top: 10px;
}

.object_description > .object_tit > h2 {
    padding-left: 40px;
    font-family: 'Fraunces', serif;
    font-size: 2.5em;
    font-weight: bolder;
    text-align: left;
    margin-bottom: 20px;
}
.object_description > .description >  .des_left {
    float: left;
    width: 20%;
    padding-left: 20px;
    margin-bottom: 5px;
}

.object_description > .description >  .des_left > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: right;
}

.object_description > .description >  .des_right {
    float: left;
    width: 70%;
    padding-left: 20px;
    margin-bottom: 5px;
}

.object_description > .description >  .des_right > p {
    padding-top: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
}

/* 미디어 쿼리 */
@media screen and (max-width: 767px) {
    #content_wrap > .main_content {
        width: 90vw;
        min-width: 300px;
    }

    #content_wrap > .main_content > .object_img {
        float: none;
    }

    #content_wrap > .main_content > .object_description {
        float: none;
        width: 90vw;
        min-width: 300px;
        height: auto;
        margin: 20px auto;
    }

    .object_description > .object_tit {
        margin: 0px auto;
        margin-bottom: 10px;
    }

    .object_description > .object_tit > h2 {
        padding-left: 0;
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #content_wrap > .main_content {
        width: 90vw;
    }

    #content_wrap > .main_content > .object_img {
        float: none;
    }

    #content_wrap > .main_content > .object_description {
        float: none;
        width: 90vw;
        height: auto;
        margin: 20px auto;
    }

    .object_description > .object_tit {
        margin: 0 auto;
    }

    .object_description > .object_tit > h2 {
        padding-left: 0;
        text-align: center;
    }

}
    
@media screen and (min-width: 1024px) {
    
}