@charset "UTF-8";
@import url(reset.css); 
/* opening hours 텍스트 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

#content_wrap {
    width: 100%;
}

#content_wrap > .main_content {
    width: 1024px;
    margin: 0 auto;
    overflow: hidden;
}

/* 오늘날짜 */
.main_content > .date {
    width: 1024px;
}

.main_content > .date > .today_date {
    font-family: 'Fraunces', serif;
    font-size: 4em;
    font-weight: bolder;
    font-style: italic;
    text-shadow: 1px 1px 1px #555;
    width: 300px;
    margin: 30px 10px;
}

.main_content > .date > .color_bar {
    width: 100%;
    height: 5px;
    margin: 0 auto;
}

/* 개관시간 */
.main_content > .opening_hours {
    margin-bottom: 20px;
}

.main_content > .opening_hours > h2 {
    font-family: 'Bree Serif', serif;
    font-size: 2em;
    text-align: right;
    color: #252c41;
    line-height: 25px;

}

/* 공지사항 */
.main_content > .notice {
    float: right;
    width: 100%;
    background: #f4f5f9;
    margin: 50px auto;
    padding: 10px;
    
}

.main_content > .notice > h2 {
    width: 90%;
    font-family: 'Bree Serif', serif;
    font-size: 1.5em;
    text-align: center;
    margin: 10px auto;
}

.main_content > .notice > p {
    width: 90%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 10px;
    

}

/* 티켓가격 */
.main_content > .tickets {
    float: right;
    overflow: hidden;
    width: 80%;
}

.main_content > .tickets > .left {
    float: left;
    width: 20%;
    margin: 20px auto;
}

.main_content > .tickets > .left > h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: right;
    margin-right: 50px;
}

.main_content > .tickets > .right {
    float: left;
    width: 70%;
    margin: 30px auto;
}

.main_content > .tickets > .right li {
    margin-bottom: 0 auto;
}

.main_content > .tickets > .right li span {
    margin-right: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}
.main_content > .tickets > .right li div {
    display: inline-block;
    margin-right: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}

/* 위치 */
.main_content > .location {
    float: right;
    overflow: hidden;
    width: 80%;
}

.main_content > .location > .left  {
    float: left;
    width: 20%;
    margin: 20px auto;
}

.main_content > .location > .left > h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: right;
    margin-right: 50px;
}

.main_content > .location > .right {
    float: left;
    width: 70%;
    margin: 20px auto;
}

.main_content > .location > .right > p {
    margin-right: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}

/* 접근성 */
.main_content > .access {
    float: right;
    overflow: hidden;
    width: 80%;
}

.main_content > .access > .left {
    float: left;
    width: 20%;
    margin: 20px auto;
}

.main_content > .access > .left > h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: right;
    margin-right: 50px;
}

.main_content > .access > .right {
    float: left;
    width: 70%;
    margin: 20px auto;
}

.main_content > .access > .right > p {
    margin-right: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
}


/* 미디어 쿼리 */
@media screen and (max-width: 767px) {
    #content_wrap > .main_content {
        width: 90vw;
    }

    .main_content > .date {
        width: 90vw;
    }

    .main_content > .notice {
        float: none;
        width: 100%;
        padding: 10px;
    }

    /* 티켓가격 */
    .main_content > .tickets {
        float: none;
        width: 90vw;
    }

    .main_content > .tickets > .left {
        float: none;
        width: 90vw;
    }

    .main_content > .tickets > .left > h2 {
        text-align: center;
        margin: 0 auto;
    }

    .main_content > .tickets > .right {
        float: none;
        width: 90vw;
        margin: 20px 20px;
    }
    
    .main_content > .tickets > .right li {
        width: 90%;
        margin: 0 auto;
    }

    /* 위치 */
    .main_content > .location {
        float: none;
        width: 90vw;
    }

    .main_content > .location > .left  {
        float: none;
        width: 90vw;
    }

    .main_content > .location > .left > h2 {
        text-align: center;
        margin: 0 auto;
    }

    .main_content > .location > .right {
        float: none;
        width: 90vw;
        margin: 20px 20px;
    }

    .main_content > .location > .right > p {
        width: 90%;
        margin: 0 auto;
    }

    /* 접근성 */
    .main_content > .access {
        float: none;
        width: 90vw;
    }

    .main_content > .access > .left {
        float: left;
        width: 90vw;
    }

    .main_content > .access > .left > h2 {
        text-align: center;
        margin: 0 auto;
    }

    .main_content > .access > .right {
        float: none;
        width: 90vw;
        margin: 20px 20px;
    }

    .main_content > .access > .right > p {
        width: 90%;
        margin: 0 auto;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #content_wrap > .main_content {
        width: 90vw;
    }

    .main_content > .date {
        width: 90vw;
    }

    .main_content > .notice {
        float: none;
        width: 100%;
    }
}
    
@media screen and (min-width: 1024px) {
    #content_wrap > .main_content {
        width: 1024px;
    }

    .main_content > .date {
        width: 1024px;
    }
}







